* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



h3 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #222222;
}

@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}



/*헤더*/



/* roadmap */
#roadmap{
  width: 100%;
  padding: 150px 0;
  text-align: center;
  position: relative;
}

#roadmap .roadmap_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#roadmap .roadmap_bg::before {
  content: '';
  background: url(../img/roadmap_bg.png) no-repeat left bottom;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -5;
}
#roadmap .roadmap_bg::after {
  content: '';
  background: url(../img/bgefect.png) no-repeat;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 5;
}

#roadmap .roadmap_wrap{
  width: 100%;
}
#roadmap .roadmap_wrap .roadmap_box{
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box {
  width: 30%;
  margin-top: 5%;
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box .rdm_card{
  padding: 8%;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  text-align: left;

  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 5px 20px 33px rgba(137, 139, 198, 0.7);
  backdrop-filter: blur(7.5px);
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box h4 {
  text-align: center;
  font-size: 2em;
    width: 50%;
    height: 10%;
    font-weight: 600;
    background: linear-gradient(119.05deg, #AE8EF5 12.64%, rgba(174, 142, 245, 0) 141.36%);
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    
    margin: auto;
    margin-bottom: 8%;
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box p{
  padding: 1% 0;
  color: #333;
}





/* contact */
#contact {
  background: linear-gradient(72.44deg, rgba(244, 93, 163, 0.6) 0%, rgba(201, 78, 235, 0.6) 22.92%, rgba(167, 88, 255, 0.6) 44.79%, rgba(62, 154, 236, 0.6) 77.6%, rgba(103, 252, 157, 0.6) 98.96%);
  padding: 130px 0;
  width: 100%;
  height: 100v;
}

#contact .con_area {
  position: relative;
  background-color: #fff;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
}
/* contact 좌측 */
#contact .con_area .con_left {
  width: 50%;
  padding: 0 6%;
}

#contact .con_area .con_left h3 {
  position: relative;
}

#contact .con_area .con_left h3::after {
  content: "";
  background-color: #636363;
  width: 125px;
  height: 4px;
  position: absolute;
  bottom: -7px;
  left: 0;
  border-radius: 50px;
}

#contact .con_area .con_left .gform {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#contact .con_area .con_left form input.email::placeholder,
#contact .con_area .con_left form textarea#message::placeholder {
  color: #4E4A4A;
  border: none;
  padding: 2%;
}
#contact .con_area .con_left form input.email,
#contact .con_area .con_left form textarea {
  width: 100%;
  background-color: #F2F2F2;
  padding: 2%;
  border: none;
}
#contact .con_area .con_left form textarea#message {
  padding: 0 0 40% 0;
}

#contact .con_area .con_left form input.email {
  margin-bottom: 20px;
}

#contact .con_area .con_left form input.send {
  width: 100%;
  padding: 12px;
  background-color: #AE8EF5;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: all 0.6s ease-in-out;
  display: block;
  margin-top: 20px;
  
  transition-duration: 0.5s;
}

#contact .con_area .con_left form input.send:hover {
  background-color: #6434cc;
}

/* 우측 이미지 */
#contact .con_area .con_right {
  width: 50%;
  padding: 5%;
  text-align: center;
  margin-right: 3%;
}
#contact .con_area .con_right .email_bg_area {
  position: relative;
  padding: 50%;
}

#contact .con_area .con_right img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}#contact .con_area .con_right img:nth-child(2) {
  padding: 12%;
}





/* footer */

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #222222;
  padding: 50px 0;
  color: #fff;
}

footer .footer_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* white_pp */
footer .footer_area .white_pp {
  width: 40%;
}
footer .footer_area .white_pp button {
  width: fit-content;
}
footer .footer_area .white_pp:nth-child(2) button {
  margin-right: 10px;
}
footer .footer_area .white_pp button {
  background: none;
  border: none;
}
footer .footer_area .white_pp button a i {
  position: relative;
  transition:all 0.3s ease;
}
footer .footer_area .white_pp button a i:hover {
  color: #fff;
  background-color: #8248ff;
  box-shadow: #AE8EF5 0px 0px 18px 0px,#AE8EF5 0px 0px 18px 0px;
}
.xi-file-upload:before {
  content: "\ea9e";
}
footer .footer_area .white_pp button a i::after {
  content: "Ko.ver";
  width: 37px;
  height: 15px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  font-size: 8px;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  color: #222222;
}
footer .footer_area .white_pp button.eng a i::after {
  content: "En.ver";
}
footer .footer_area .white_pp i {
  color: #fff;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition:all 0.3s ease;
}
footer .footer_area .white_pp i:hover {
  color: #fff;
  background-color: #8248ff;
  box-shadow: #AE8EF5 0px 0px 18px 0px,#AE8EF5 0px 0px 18px 0px;
}

.v-line {
  border-left : 1px solid #FFFFFF;
  height : 130px;
}

footer .footer_area .footer_info_list {
  width: 17%;
  position: relative;
  z-index: 2;
}
footer .footer_area .footer_info_list .info_list_content {
  margin-bottom: 10%;
}
footer .footer_area .footer_info_list .info_list_content b {
  margin-left: 5%;
}
