
/*데탑*/
@media screen and (max-width:1440px) {
  header .hd_all .pc_wrap ul {
    width: 75%;
  }
  header .hd_all .pc_wrap ul li.lan a {
    padding: 5px 15px;
  }
  #home .main_area {
    width: 80%;
    top: 45%;
  }
  #home .main_area .down_area {
    width: 80%;
    margin-left: 2%;
  }

  #Solution .inner .solution_img img{
    margin-top:30%;
  }

  #Ecosystem .inner ul.top li{
    padding: 0 35px;
  }

}



/*노트북*/
  @media screen and (max-width:1024px) {
    header .hd_all .pc_wrap ul {
      width: 95%;
    }
    #home .main_vid video {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%, -50%);
    }
    #home .main_area {
      width: 90%;
      top: 50%;
    }
    #home .main_area .down_area {
      bottom: 10%;
    }
    #about .about_wrap .about_contents_wrap {
      display: block;
    }
    #about .about_wrap .about_contents_wrap .about_cont_left {
      width: 100%;
      text-align: center;
    }
    #about .about_wrap .about_contents_wrap .about_cont_right {
      width: 100%;
    }
    #about .about_wrap .about_contents_wrap .about_cont_right img {
      width: 90%;
      margin-left: 5%;
      margin-top: 10%;
    }

    #Market .inner .market_img{
      padding: 100px 50px;
    }
  
    #Ecosystem .inner ul.top li{
      font-size: 16px;
    }
  

    #contact .con_area {
      width: 80%;
    }
    #contact .con_area .con_left h3 {
      font-size: 1.7em;
    }
    #contact .con_area .con_left .gform {
      margin-top: 10px;
    }
    
    footer .footer_area img {
      max-width: 85%;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    nav.pc_wrap {
      display: none;
    }
    .hd_all .menu-btn {
      display: block;
    }
    #home .main_area {
      width: 90%;
    }
    #home .main_area .main_txt p br {
      display: none;
    }
    #home .main_area .main_txt p .hide {
      display: block;
    }

    #Market{
      padding: 50px 0;
    }

    #Market .inner{
      flex-direction: column-reverse;
    }
    
    #Market .inner .market_img{
      width: 100%;
    }

    #Market .inner .text{
      width: 100%;
      text-align: center;
      padding-top: 50px;
    }

    #Market .inner .text h2{
      padding-bottom: 30px;
    }

    #Solution{
      height: 50%;
      padding: 50px 0;
    }

    #Solution .inner{
      display: block;
    }

    #Solution .inner .text{
      width: 100%;
      text-align: center;
      padding: 50px 0 0;
    }

    #Solution .inner .text h2{
      padding-bottom: 30px;
    }

    #Solution .inner .text p.bold{
      padding-bottom: 0px;
    }

    #Solution .inner .solution_img{
      /* border: 10px solid rgb(2, 221, 97); */
      width: 100%;
      padding-bottom: 50px;
    }
    #Solution .inner .solution_img img{
      margin-top:0%;
    }

    #Ecosystem h2{
      padding: 50px 0;
    }


    #Ecosystem .inner ul.top li{
      font-size: 16px;
    }

    #Ecosystem .inner .bottom{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #Ecosystem .inner .bottom .Ecosystem_img{
      width: 100%;
      text-align: center;
      padding-left: 0;
    }

    #Ecosystem .inner .bottom ul.percentage{
      /* border: 5px solid rgb(70, 38, 38); */
      width: 100%;
      padding: 8% 0;
    }
    

    #roadmap .roadmap_wrap .roadmap_box {
      display: block;
  }
  #roadmap .roadmap_wrap .roadmap_box .rdm_box {
    width: 70%;
    margin: 0 auto;
  }
  #roadmap .roadmap_wrap .roadmap_box .rdm_box .rdm_card {
    margin-bottom: 7%;
  }
  #contact .con_area .con_left h3 {
    margin-bottom: 20px;
  }
  #contact .con_area .con_left h3::after {
    height: 3px;
  }

  /* footer */
  footer .footer_area {
    flex-direction: column;
  }
  footer .footer_area .white_pp {
    width: 50%;
    text-align: center;
  }
  .v-line {
    transform: rotate(90deg);
  }
  footer .footer_area .footer_info_list {
    width: 50%;
  }

}



/*모바일*/

@media screen and (max-width:767px) {
  #home .main_area {
    width: 100%;
    padding: 0;
  }
  #home .main_area .main_txt p .hide {
    display: none;
  }
  #home .main_area .down_area {
    bottom: 0;
  }
  #about .about_wrap .about_contents_wrap .about_cont_right img {
    width: 100%;
    margin-left: 0;
  }

  #roadmap .roadmap_wrap .roadmap_box .rdm_box {
    width: 80%;
    margin: 0 auto;
  }

  /* contact */
  #contact .con_area {
    flex-direction: column;
  }
  #contact .con_area .con_left h3 {
    text-align: center;
  }
  #contact .con_area .con_left h3::after {
    height: 2px;
    transform: translateX(-50%);
    left: 50%;
  }
  #contact .con_area .con_left {
    width: 80%;
  }
  #contact .con_area .con_left form input.email {
    margin-bottom: 3%;
  }
  #contact .con_area .con_right {
    width: 65%;
  }

  footer .footer_area .white_pp {
    width: 80%;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {
  #home .main_area {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  #home .main_area h2 {
    font-size: 4.5rem;
  }
  #home .main_area .main_txt b {
    font-size: 1.5rem;
  }
  #home .main_area .down_area {
    bottom: 5%;
    margin-left: 2%;
  }
  #home .main_area .down_area button {
    padding: 10px 0;
  }
  #about .about_wrap .about_contents_wrap .about_cont_left p br{
    display: none;
  }

  #Ecosystem .inner ul.top{
    flex-direction: column;
  }
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    #home .main_area .down_area {
      bottom: 0;
      margin-left: 3%;
    }

    footer .footer_area .white_pp {
      width: 100%;
    }

    #Market .inner .text p{
      font-size: 15px;
    }

    #Solution .inner .text p.normal{
      font-size: 15px;
    }

    #Solution .inner .text p.bold{
      font-size: 15px;
    }

    #Ecosystem{
      height: 50%;
      padding-bottom: 50px;
    }

    #Ecosystem .inner ul.top{
      /* border: 5px solid grey; */
      width: 100%;
      padding-top: 25px;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    #Ecosystem .inner .bottom ul.percentage li{
      font-size: 15px;
    }
}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {
      #home .main_area {
        top: 45%;
      }
      #home .main_area h2 {
        font-size: 3.5rem;
      }
      #home .main_area .down_area {
        bottom: -18%;
        margin-left: 3%;
      }
}
