
/*데탑*/
@media screen and (max-width:1440px) {

}


/*노트북*/
  @media screen and (max-width:1024px) {
    #contact .con_area {
      width: 80%;
    }
    #contact .con_area .con_left h3 {
      font-size: 1.7em;
    }
    #contact .con_area .con_left .gform {
      margin-top: 10px;
    }
    
    footer .footer_area img {
      max-width: 85%;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    #roadmap .roadmap_wrap .roadmap_box {
        display: block;
    }
    #roadmap .roadmap_wrap .roadmap_box .rdm_box {
      width: 70%;
      margin: 0 auto;
    }
    #roadmap .roadmap_wrap .roadmap_box .rdm_box .rdm_card {
      margin-bottom: 7%;
    }
    #contact .con_area .con_left h3 {
      margin-bottom: 20px;
    }
    #contact .con_area .con_left h3::after {
      height: 3px;
    }

    /* footer */
    footer .footer_area {
      flex-direction: column;
    }
    footer .footer_area .white_pp {
      width: 50%;
      text-align: center;
    }
    .v-line {
      transform: rotate(90deg);
    }
    footer .footer_area .footer_info_list {
      width: 50%;
    }
}



/*모바일*/

@media screen and (max-width:767px) {
  #roadmap .roadmap_wrap .roadmap_box .rdm_box {
    width: 80%;
    margin: 0 auto;
  }

  /* contact */
  #contact .con_area {
    flex-direction: column;
  }
  #contact .con_area .con_left h3 {
    text-align: center;
  }
  #contact .con_area .con_left h3::after {
    height: 2px;
    transform: translateX(-50%);
    left: 50%;
  }
  #contact .con_area .con_left {
    width: 80%;
  }
  #contact .con_area .con_left form input.email {
    margin-bottom: 3%;
  }
  #contact .con_area .con_right {
    width: 65%;
  }

  footer .footer_area .white_pp {
    width: 80%;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    footer .footer_area .white_pp {
      width: 100%;
    }
}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
